

<div class="wrap">
  <h1>Movies List</h1>

  <div class="wrap">
  </div>
  <table style="width:80%">
    <thead>
      <tr style="height:40px">
        <th style="width:40%">Title</th>
        <th style="width:25%">Rating</th>
        <th style="width:35%">Release Date</th>
      </tr>
    </thead>

    <tbody style="height:30px">
      <% @movies.each do |m| %>
        <tr>
          <td><%= link_to m.title, m, class: "text-look" %></td>
          <td><%= m.rating %></td>
          <td><%= m.release_date %></td>
        </tr>
      <% end %>
    </tbody>

    <tfoot style="height:70px">
      <tr>
        <td colspan="3"><%= link_to "New Movie", new_movie_path, class:"button-add" %></td>
      </tr>
    </tfoot>
  </table>

  <br/>

  <div class="wrap-horizontal">
    <%= link_to 'Sort by Title', movies_path(sort: 'title', order: sorted('title')), class: 'button' %>
    <%= link_to 'Sort by Rating', movies_path(sort: 'rating', order: sorted('rating')), class: 'button' %>
    <%= link_to 'Sort by Release Date', movies_path(sort: 'release_date', order: sorted('release_date')), class: 'button' %>
  </div>

</div>

